<a href="https://colab.research.google.com/github/Dmitry-cybe/test_2/blob/main/hw_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.describe() #Вывод основной информации о датасете: информацию о типах данных, число пропусков, средние значения и т.д

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [4]:
df.info()#Вывод основной информации о датасете: информацию о типах данных, число пропусков, средние значения и т.д

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
class1surv = (df.groupby(["Pclass"])["Survived"].sum()[1]/df['Pclass'].value_counts()[1])*100
class2surv = (df.groupby(["Pclass"])["Survived"].sum()[2]/df['Pclass'].value_counts()[2])*100
class3surv = (df.groupby(["Pclass"])["Survived"].sum()[3]/df['Pclass'].value_counts()[3])*100
print(class1surv,'% - процент выживаемости в первом классе')
print(class2surv,'% - процент выживаемости во втором классе')
print(class3surv,'% - процент выживаемости в третьем классе')

62.96296296296296 % - процент выживаемости в первом классе
47.28260869565217 % - процент выживаемости во втором классе
24.236252545824847 % - процент выживаемости в третьем классе

In [10]:
df_male = df[(df['Sex']=='male')] #Пассажиры мужского рода
df_male_name = df_male['Name'].str.split(' ', expand=True) #Разделение столбца на имя и фамилию
df_male_name.head()

           0        1        2        3     4     5     6
0    Braund,      Mr.     Owen   Harris  None  None  None
4     Allen,      Mr.  William    Henry  None  None  None
5     Moran,      Mr.    James     None  None  None  None
6  McCarthy,      Mr.  Timothy        J  None  None  None
7   Palsson,  Master.    Gosta  Leonard  None  None  None

In [44]:
df_male_name[2].value_counts().nlargest(2) #Вывод наиболее часто встречаемых мужских имен

2
William    35
John       25
Name: count, dtype: int64

In [36]:
df_female = df[(df['Sex']=='female')] #Пассажиры женского рода
df_female_name = df_female['Name'].str.split(' ', expand=True)#Разделение столбца на имя и фамилию
df_female_name.head()
df_female_name[2].value_counts().nlargest(2) #Вывод наиболее популярного женского имени

2
William    13
Mary        9
Name: count, dtype: int64

In [18]:
df_male = df[(df['Sex']=='male')]
df_male1 =  df_male[(df['Pclass']==1)]
df_male_name_сlass1 = df_male1['Name'].str.split(' ', expand=True)
df_male_name_сlass1[2].value_counts().nlargest(2) # вывод наиболее популярного мужского имени в первом классе

<ipython-input-18-d6b4f90c826e>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_male1 =  df_male[(df['Pclass']==1)]

2
William    11
John        9
Name: count, dtype: int64

In [20]:
df_male2 =  df_male[(df['Pclass']==2)]
df_male_name_сlass2 = df_male2['Name'].str.split(' ', expand=True)
df_male_name_сlass2[2].value_counts().nlargest(2) # вывод наиболее популярного мужского имени во втором классе

<ipython-input-20-0e4671bcdc38>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_male2 =  df_male[(df['Pclass']==2)]

2
William    9
Charles    6
Name: count, dtype: int64

In [22]:
df_male3 =  df_male[(df['Pclass']==3)]
df_male_name_сlass3 = df_male3['Name'].str.split(' ', expand=True)
df_male_name_сlass3[2].value_counts().nlargest(2) # вывод наиболее популярного мужского имени в третьем классе

<ipython-input-22-ab0a64bfb94f>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_male3 =  df_male[(df['Pclass']==3)]

2
William    15
Mr.        11
Name: count, dtype: int64

In [38]:
df_female1 =  df_female[(df['Pclass']==1)]
df_female_name_сlass1 = df_female1['Name'].str.split(' ', expand=True)
df_female_name_сlass1[2].value_counts().nlargest(5) # вывод наиболее популярного  женского имени в первом классе

<ipython-input-38-31c2a2a9f408>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_female1 =  df_female[(df['Pclass']==1)]

2
John         4
Elizabeth    4
William      4
Henry        3
Margaret     3
Name: count, dtype: int64

In [43]:
df_female2 =  df_female[(df['Pclass']==2)]
df_female_name_сlass2 = df_female2['Name'].str.split(' ', expand=True)
df_female_name_сlass2[2].value_counts().nlargest(2) # вывод наиболее популярного женского имени во втором классе

<ipython-input-43-f06078356c28>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_female2 =  df_female[(df['Pclass']==2)]

2
William    6
Samuel     2
Name: count, dtype: int64

In [42]:
df_female3 =  df_female[(df['Pclass']==3)]
df_female_name_сlass3 = df_female3['Name'].str.split(' ', expand=True)
df_female_name_сlass3[2].value_counts().nlargest(2) # вывод наиболее популярного женского имени в третьем классе

<ipython-input-42-1624b4880b20>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_female3 =  df_female[(df['Pclass']==3)]

2
Anna    7
Mary    6
Name: count, dtype: int64

In [27]:
df[df['Age']>44] #Вывод часть таблицы с пассажирами, возраст которых больше 44 лет

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
...,...,...,...,...,...,...,...,...,...,...,...,...
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C

In [29]:
df[(df['Age']>44)	& (df['Sex']=='male')]#Вывод часть таблицы с пассажирами, возраст которых больше 44 лет  которые мужского пола

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.0,1,0,36973,83.4750,C83,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.0,1,0,W.E.P. 5734,61.1750,E31,S
...,...,...,...,...,...,...,...,...,...,...,...,...
771,772,0,3,"Jensen, Mr. Niels Peder",male,48.0,0,0,350047,7.8542,NaN,S
789,790,0,1,"Guggenheim, Mr. Benjamin",male,46.0,0,0,PC 17593,79.2000,B82 B84,C
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S

In [33]:
result = df['Cabin'].value_counts()[df['Cabin'].value_counts() > 1]#Вывод количества n-местных кабин
count = len(result)
count

46